scene_order:
  - nhl_games

# favourite_teams:
#   nhl:
#     - BOS
#     - MIN

alt_logos:
  nhl:
#     STL: '2008'
#     UTA: '2024'
#     BOS: '2007'
#     LAK: '2019'

scene_settings:
  nhl:
    games:
      display_splash: True
      transition: 'modern'
      image_display_duration: 1
      score_alerting:
        score_coloured: true
        score_fade_animation: true
      rollover:
        rollover_start_time_local: '09:00'
        show_completed_games_until_rollover_end_time: True
        rollover_end_time_local: '12:00'

    # favourite_team_next_game:
    #   transition: 'modern'
    #   display_duration:
    #     single_team: 0
    #     multiple_teams: 0

brightness:
  brightness_mode: 'static' # 'auto': automatically determines brightness based on time of day with a max of max_brightness. 'static': static brightness of max_brightness.
  max_brightness: 100

hardware_config:
  gpio_slowdown: 4 # Options, 0-4. May need to adjust depending on your hardware.
  hardware_mapping: 'adafruit-hat-pwm' # Adjust to match your hardware.
  