# This will run in a loop.
scene_order:
  - nhl_fav_team_next_game
  - nhl_games
  - nhl_standings

# Note your favourite teams by league.
favourite_teams:
  nhl:
    - BOS

# Note if any alt logos should be used. You can provide your own as well.
alt_logos:
  nhl:
    # BOS: 1924

scene_settings:
  nhl:
    games:
      display_splash: True
      transition: 'modern'
      image_display_duration: 3.5
      score_alerting:
        score_coloured: true
        score_fade_animation: true
      rollover:
        rollover_start_time_local: '09:00'
        show_completed_games_until_rollover_end_time: False
        rollover_end_time_local: '12:00'

    fav_team_next_game:
      transition: 'modern'
      image_display_duration: 3.5

    standings:
      display_splash: True
      highlight_fav_teams: True
      transition: 'modern'
      image_display_duration: 3.5
      scroll_pause_duration: 1.75
      scroll_frame_duration: 0.075
      display_for:
        - division
        - wildcard
        # - conference
        # - overall

brightness:
  brightness_mode: 'static' # 'auto': automatically determines brightness based on time of day with a max of max_brightness. 'static': static brightness of max_brightness.
  max_brightness: 100

hardware_config:
  gpio_slowdown: 4 # Options, 0-4. May need to adjust depending on your hardware.
  hardware_mapping: 'adafruit-hat-pwm' # Adjust to match your hardware.
  