# The following scenes will be displayed in the order specified. Will loop once complete.
scene_order:
  - nhl_fav_team_next_game
  - nhl_games
  - nhl_standings

# Note your favourite teams by league. Any number of teams can be specified.
favourite_teams:
  nhl:
    # - BOS # Example.

# Note if any alt logos should be used.
alt_logos:
  nhl:
    # BOS: 1924 # Example.

# Settings for each scene.
scene_settings:
  nhl:
    games: # nhl_games scene.
      transition: 'modern'
      splash:
        display_splash: True
        splash_display_duration: 2
      game_display_duration: 3.5
      score_alerting:
        score_coloured: true
        score_fade_animation: true
      rollover:
        rollover_start_time_local: '07:00'
        show_completed_games_until_rollover_end_time: True
        rollover_end_time_local: '12:00'

    fav_team_next_game: # nhl_fav_team_next_game scene.
      transition: 'modern'
      display_duration: 3.5
      display_if_in_progress: False

    standings: # nhl_standings scene.
      transition: 'modern'
      splash:
        display_splash: True
        splash_display_duration: 2
      scroll:
        scroll_pause_duration: 1
        scroll_frame_duration: 0.075
      highlight_fav_teams: True
      display_for:
        - wildcard
        # - division
        # - conference
        # - league

# Brightness settings.
brightness:
  brightness_mode: 'auto'
  max_brightness: 100

# Hardware configuration details.
hardware_config:
  gpio_slowdown: 4 # Options, 0-4. May need to adjust depending on your hardware.
  hardware_mapping: 'adafruit-hat-pwm' # Adjust to match your hardware.
  